@import "variables";
@import "mixins";

* {
  letter-spacing: 1px;
}

.container {
  max-width: $max-width;
  padding: 0 10px;
  margin: auto;
}

.sul-box-raised-1,
.sul-box-raised-2,
.sul-box-raised-3,
.sul-box-inset-1 {
  border-radius: 10px;
}
